<!DOCTYPE html>
<html>
    <body>
        <div>
            <h2>About me</h2>
            <p>
                A full-stack developer based in Mississauga, ON, with a passion for creating/building things including software, hardware, and art.
            </p>
        </div>
        <div>
            <h2>Skills</h2>
            <p>
                html5, css3, bootstrap, tailwind css, js, react, vuejs, jquery, java, c#, c++, python, photoshop, aftereffects, git, bitbucket, jira, adobexd, oracle sql, mssql, NodeJs, SQLite, Mustache
            </p>
        </div>
        <div>
            <h2>Education</h2>

        </div>
    </body>
</html>